 
# create a file name it as .env.preview for preview environment
# create a file name it as .env.production for production environment
# copy & paste below content to the newly created env file.

CONTENTSTACK_API_KEY=blt0c4fda4960203fa0
CONTENTSTACK_DELIVERY_TOKEN=cs6ec80cea49569bd12c330530
CONTENTSTACK_ENVIRONMENT=preview # YOUR_PUBLISHING_ENVIRONMENT
CONTENTSTACK_BRANCH=main
# For other branches add CONTENTSTACK_BRANCH=YOUR_BRANCH_NAME by default it is set to main

CONTENTSTACK_HOST=cdn.contentstack.io
# For EU region add CONTENTSTACK_HOST=eu-cdn.contentstack.com


# To fetch locales 
CONTENTSTACK_MANAGEMENT_TOKEN=csd4d1237a35f2bbd0affe0122 

CONTENTSTACK_API_HOST=api.contentstack.io
# For EU region add CONTENTSTACK_API_HOST=eu-api.contentstack.com

# For live preview 
CONTENTSTACK_PREVIEW_TOKEN=csf81190fbf9d12b2762bdd5fd # YOUR_CONTENTSTACK_PREVIEW_TOKEN

CONTENTSTACK_PREVIEW_HOST=rest-preview.contentstack.com
# For EU region add CONTENTSTACK_API_HOST=eu-api.contentstack.com

CONTENTSTACK_APP_HOST=app.contentstack.com
# For EU region add CONTENTSTACK_APP_HOST=eu-app.contentstack.com

CONTENTSTACK_LIVE_PREVIEW=true
CONTENTSTACK_LIVE_EDIT_TAGS=true
# To disable live editing tags for this project set CONTENTSTACK_LIVE_PREVIEW=false

#Optional Environment variables
#LOCALE_COOKIE_NAME=YOUR_LOCALE_COOKIE_NAME
DEFAULT_LOCALE=en


